body {background-color: powderblue;}

h1 {color: orange;
    font-size: 500%;
    font-family: arial;}

h2 {color: orange;
    font-family: arial;}

p {background-color: orange;
   color: black;
   font-family: arial;
   padding: 25px;}

.vl{border-left: 5px solid gold;
  height: 1000px;
  position: absolute;
  left: 16%;
  margin-left: -3px;
  top: 0;}
