body {
  background-color: powderblue;
}

h1 {
  color: orange;
  font-size: 500%;
  font-family: arial;
}

h2 {
  color: orange;
  font-family: arial;
}

.vl{
  border-left: 5px solid gold;
  height: 1000px;
  position: absolute;
  left: 16%;
  margin-left: -3px;
  top: 0;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}
th,td{
  padding: 10px;
}
table#myView tr:nth-child(odd){
  background-color: orange;
}
table#myView tr:nth-child(even){
  background-color: gold;
}
table#myView th{
  background-color: coral;
}
table#othView tr:nth-child(odd){
  background-color: slateblue;
}
table#othView tr:nth-child(even){
  background-color: mediumslateblue;
}
table#othView th{
  background-color: darkorchid;
}

a:link {
  color:inherit;
  text-decoration: none;
}

a:visited {
  color:inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#bannerImage{
  width: 95%;
  height: 300px;
  background-color: purple;
  background-position: center;
}

button.pageButton{
  background-color: orange;
  color: black;
  font-size: 14px;
  font-family: arial;
  padding: 10px;
  cursor: pointer;
  border: 1px orange;
}
button.navButton{
  background-color: orange;
  margin: 10px;
  color: black;
  font-size: 14px;
  font-family: arial;
  padding: 15px;
  cursor: pointer;
  border: 1px orange;
  width: 60%;
}
button.logo{
  color: orange;
  background: none;
  background-color: none;
  border: none;
  font-size: 100px;
  font-family: arial;
}
button.pageButton:hover{
  background-color: darkorange;
}
button.navButton:hover{
  background-color: darkorange;
}
