body {background-color: royalblue;}

.introLogo{
  text-align: center;
  color: orange;
  font-size: 350%;
}

h1 {
  color: white;
  font-size: 350%;
}

h2 {
  color: white;
  font-size: 150%;
}

h3 {
  color: slateblue;
  line-height: 10px;
}

p{
  color: white;
}
.name{
  color: slateblue;
  padding: 5px;
  font-size: 25px;
}
.desc{
  color: black;
  padding: 5px;
}
.vl{border-left: 5px solid gold;
  height: 1000px;
  position: absolute;
  left: 16%;
  margin-left: -3px;
  top: 0;}

table, th, td{
  border: 1px solid white;
  border-collapse: collapse;
  margin: 0 auto;
}

th,td{
  padding: 10px;
}

/*new things below */

.loginStyle{
  margin-top: 15%;
  width: 30%;
  background-color: orange;
  color: white;
  border: 1px orange;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
}
.loginStyle:hover{
  background-color: darkorange;
}
.loggedStyle{
  background-color: orange;
  color: white;
  border: 1px orange;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}
.loggedStyle:hover{
  background-color: darkorange;
}
.loggedHeader{
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 15px;
  text-decoration: none;
}
.loggedHeader:hover{
  background-color: steelblue;
}

.divCenter{
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
}
.divFont{
  font-family: arial, helvetica, sans-serif;
  color: white;
}

.pageButton{
  background-color: orange;
  color: white;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  border: 1px orange;
  margin: 10px;
  width: 200px;
  cursor: pointer;
  border-radius: 4px;
}
.pageButton:hover{
  background-color: darkorange;
}

.smallButton{
  background-color: orange;
  color: white;
  font-size: 10px;
  padding: 5px;
  cursor: pointer;
  border: 1px orange;
  margin: 2px;
  width: 75px;
  cursor: pointer;
  border-radius: 4px;
}
.smallButton:hover{
  background-color: darkorange;
}

a:link {
  color:inherit;
  text-decoration: none;
}
a:visited {
  color:inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.listStyle{
  background-color: gainsboro;
  padding: 5px;
  margin: 5px;
  color: black;
}

.formStyle{
  padding: 10px;
  font-family: arial, helvetica, sans-serif;
}

.scrollList{
  border-collapse: collapse;
  border: royalblue;
  padding: 0px;
  height: 60%;
  overflow: hidden;;
  overflow-y: scroll;
  margin: 0 auto;
}

.navLogo{
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.bottomHeader{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
}

.modal{
  background-color: navy;
  border-radius: 15px;
  width: 40%;
  minHeight: 300;
  margin: 0 auto;
  padding: 30;
  color: black;
};

.dropzoneStyle{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: absolute;
}

.attList{
  margin: 10px;
  white-space: pre;
}

.evPic{
  display: inline;
  width: 200px;
  height: 200px;
  float: left;
}
