body {background-color: powderblue;}

h1 {color: orange;
    font-size: 350%;
    font-family: arial;}

h2 {color: orange;
    font-size: 150%;
    font-family: arial;}

h3 {color: slateblue;
    line-height: 20px;
    font-family: arial;}

p.button {background-color: orange;
   color: black;
   font-family: arial;
   padding: 25px;}

.vl{border-left: 5px solid gold;
  height: 1000px;
  position: absolute;
  left: 16%;
  margin-left: -3px;
  top: 0;}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}

th,td{
  padding: 10px;
}

table#myView tr:nth-child(odd){
  background-color: orange;
}
table#myView tr:nth-child(even){
  background-color: gold;
}
table#myView th{
  background-color: coral;
}

table#othView tr:nth-child(odd){
  background-color: slateblue;
}
table#othView tr:nth-child(even){
  background-color: mediumslateblue;
}
table#othView th{
  background-color: darkorchid;
}

#bannerImage{
  width: 95%;
  height: 300px;
  background-color: purple;
  background-position: center;
}
