body {background-color: powderblue;}

.introLogo{
  text-align: center;
  color: orange;
  font-size: 350%;
}

h1 {
  color: orange;
  font-size: 350%;
}

h2 {
  color: orange;
  font-size: 150%;
}

h3 {
  color: slateblue;
  line-height: 10px;
}

.vl{border-left: 5px solid gold;
  height: 1000px;
  position: absolute;
  left: 16%;
  margin-left: -3px;
  top: 0;}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}

th,td{
  padding: 10px;
}

/*new things below */

.loginStyle{
  margin-top: 15%;
  width: 30%;
  background-color: orange;
  border: 1px orange;
  padding: 15px;
}
.loginStyle:hover{
  background-color: darkorange;
}
.loggedStyle{
  background-color: orange;
  border: 1px orange;
  padding: 10px 15px;
}
.loggedStyle:hover{
  background-color: darkorange;
}
.loggedHeader{
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 15px;
  text-decoration: none;
}
.loggedHeader:hover{
  background-color: steelblue;
}

.divCenter{
  text-align: center;
  text-decoration: none;
}
.divFont{
  font-family: arial, helvetica, sans-serif;
}

.pageButton{
  background-color: orange;
  color: black;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  border: 1px orange;
  margin: 10px;
  width: 300px;
}
.pageButton:hover{
  background-color: darkorange;
}

a:link {
  color:inherit;
  text-decoration: none;
}
a:visited {
  color:inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.listStyle{
  background-color: white;
  padding: 5px;
  margin: 5px;
}

.formStyle{
  padding: 10px;
}

.scrollList{
  border: 1px solid #f1f1f1;
  padding: 0 12px;
  maxHeight: 70vh;
  overflow: scroll;
}

.navLogo{
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
