body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topNav{
  overflow: hidden;
  background-color: lightskyblue;
}
.topNav a{
  float:left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
}
.topNav a:hover, .dropDown:hover .dropButton{
  background-color: darkorange;
  color: black;
}

.active{
  background-color: orange;
}
.topNav .icon{
  display: none;
}

@media screen and (max-width: 600px) {
  .topNav a:not(:first-child) {display: none;}
  .topNav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topNav.responsive {position: relative;}
  .topNav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.dropDown {
  float: right;
  overflow: hidden;
}
.dropDown .dropButton{
  color: white;
  text-align: center;
  padding: 10px 15px;
  font-size: 20px;
  background-color: inherit;
  font-family: inherit;
  outline: none;
  border: none;
  background: none;
}
.dropDown:hover .dropButton{
  background-color: darkorange;
  color: black;
}

.dropDownContent{
  display: none;
  position: absolute;
  background-color: skyblue;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropDownContent a{
  float: none;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 20px;
}
.dropDownContent a:hover{
  background-color: lightsteelblue;
}
.dropDown:hover .dropDownContent{
  display: block;
}
